python-dotenv
langchain_google_genai
python-docx
pypandoc_binary
langchain_groq
langchain-ollama
fastapi[all]
reportlab
pypdf
psycopg2-binary
types-psycopg2
markdown
pandas
pandas-stubs
plotly
jinja2
python-jose
types-python-jose